{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "plugin": true,
    "debug": true,
  },
  "rules": {
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "func-names": 0,
    "space-before-function-paren": [error, {"anonymous": "never", "named": "never"}]
  }
}
